# IntelliJ project files
.idea/*
test
test/*
ab.exe
ab.log
ab

# visual studio code files
.vscode

# Rust
target/*
*.lock

# cargo
.cargo/

# profile
flamegraph.*
perf.*

# tests
*.stderr
*.stdout
*.out
*.swp

# python
venv/
logs
tmp

*.pid
*.log
*.signal
*.exe
*.d
*.o
vmlinux.h
any-example/anyproxy/anyproxy.exe
any-example/anyproxy/anyproxy
any-example/anyproxy/tokio_proxy.exe
any-example/anyproxy/tokio_proxy
.output
*.tmp
*.err
