# IntelliJ project files
.idea/*

# visual studio code files
.vscode

# Rust
target/*
*.lock

# cargo
.cargo/

# profile
flamegraph.*
perf.*

# tests
*.stderr
*.stdout
*.out
*.swp

# python
venv/
logs

*.pid
*.log
*.signal
*.exe
*.o
